{% extends 'base.html.twig' %}

{% block title %}Mes demandes{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('client') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('client') }}
{% endblock %}
{% block callToAction %}
{% endblock %}
{% block content %}
    <div class="grid-container">
        <aside class="side-menu">

        </aside>
        <main class="main-menu">
            {% if accountRequest is empty and deleteRequest is empty%}
            <p>Aucune Demande en cours</p>
            {% else %}
                {% for request in accountRequest %}
                <div class="request-container">
                    <div class="content-request-container">
                        <span class="request-number">N° Demande: {{ request.id }}</span>
                        <span class="request-type">{{ request.type }}</span>
                    </div>
                    <div class="status-request-container">
                        <span class="request-state">{{ request.state }}</span>
                    </div>
                </div>
                {% endfor %}
                {% for request in deleteRequest %}
                    <div class="request-container">
                        <div class="content-request-container">
                            <span class="request-number">N° Demande: {{ request.id }}</span>
                            <span class="request-type">{{ request.type }}</span>
                        </div>
                        <div class="status-request-container">
                            <span class="request-state">{{ request.state }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </main>
    </div>
{% endblock %}
