{% extends 'base.html.twig' %}

{% block title %}Vos Virements{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('client') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('client') }}
{% endblock %}
{% block callToAction %}
{% endblock %}
{% block content %}
    <div class="grid-container">
        <aside class="side-menu">

        </aside>
        <main class="main-menu">
           <p>Veuillez selectionner le compte débiteur</p>
            {% for account in accounts %}
                <div class="account-container">
                    <div class="account-content">
                        <span>{{ account.type }}</span>
                        <span>{{ account.amount }}€</span>
                    </div>
                    <div class="accoun-actions">
                        <a href="{{ path('app_client_transfer_add', {userId: app.user.id, accountId: account.id}) }}" class="btn btn-round">OK</a>
                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}
