<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BanqIo{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('home') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{ asset('/svg/surface1.svg') }}" alt="logo bank">
            </div>
            <nav class="navbar">
                <a href="{{ path('app_home') }}"class="link">Acceuil</a>
                <a href="{{ path('app_bank_product') }}"class="link">Nos produits bancaires</a>
                <a href="{{ path('app_contact_us') }}"class="link">Contact</a>
            </nav>
            <div class="navmenu">
                <div class="dropdown-menu" role="button">
                    <p>Menu</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.444" height="7.224" viewBox="0 0 10.444 7.224">
                        <path id="Arrow_Down" data-name="Arrow Down" d="M472.786,46.684q2.2,2.276,4.307,4.642c-.093-.346-.182-.695-.274-1.04-.007.025-.011.053-.018.078a1.076,1.076,0,0,0,1.785,1.04,63.269,63.269,0,0,0,4.068-5.055c.887-1.044-.62-2.561-1.51-1.51a61.87,61.87,0,0,1-4.068,5.055c.595.346,1.19.695,1.785,1.04.228-.983-.72-1.642-1.314-2.294q-1.6-1.758-3.249-3.462c-.958-.994-2.469.517-1.51,1.507Z" transform="translate(-472.48 -44.484)" fill="#c9c8c8"/>
                    </svg>
                </div>
            </div>
        </header>
        <div class="navToggleMenu">
            {% if app.user.roles is not defined %}
            <a href="{{ path('app_login') }}" class="link">Connexion</a>
            <a href="{{ path('app_register') }}" class="link">Inscription</a>
            {% endif %}
            {% if app.user.roles is defined and 'ROLE_CLIENT' in app.user.roles %}
                <a href="{{ path('app_client', {userId: app.user.id}) }}" class="link">Mes comptes</a>
                <a href="{{ path('app_client_transfer') }}" class="link">Mes virements</a>
                <a href="{{ path('app_client_request', {userId: app.user.id}) }}" class="link">Mes demandes</a>
                <a href="{{ path('app_benefit_client') }}" class="link">Mes bénéficiaires</a>
                <a href="{{ path('app_logout') }}" class="link">Déconnexion</a>
            {% endif %}
            {% if app.user.roles is defined and 'ROLE_BANKER' in app.user.roles %}
                <a href="{{ path('app_banker_request') }}" class="link">Demandes</a>
                <a href="{{ path('app_banker') }}" class="link">Clients</a>
                <a href="{{ path('app_logout') }}" class="link">Déconnexion</a>
            {% endif %}
        </div>
        {% block callToAction %}
        <div class="call-to-action">
            <img src="{{ asset('/svg/credit-card.svg') }}" alt="card img" class="call-to-action-img">
            <div class="call-to-action-content">
                <h2>Lorem ipsum</h2>
                <p>subtitle</p>
                <a href="#" class="btn" role="button">Do this</a>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            {% block content %}
                <main>
                    <div class="fonction-container">
                        <div class="fonction-content">
                            <h4>Lorem ipsum</h4>
                            <p>nfurngnurugurguurungrngurngur
                            grnugnurngnunrungrngnrngnrjgnunrgr
                            grgnuruigehuigeuiguiernguneruinguiern
                            grnrygurenugneruinguieruignerunguernu</p>
                        </div>
                        <img src="{{ asset('/svg/online-payment-svg.svg') }}" alt="online payments" class="fonction_img">
                    </div>
                    <div class="fonction-container">
                        <div class="fonction-content">
                            <h4>Lorem ipsum</h4>
                            <p>nfurngnurugurguurungrngurngur
                                grnugnurngnunrungrngnrngnrjgnunrgr
                                grgnuruigehuigeuiguiernguneruinguiern
                                grnrygurenugneruinguieruignerunguernu</p>
                        </div>
                        <img src="{{ asset('/svg/transfer-money.svg') }}" alt="online payments" class="fonction_img">
                    </div>
                    <div class="fonction-container">
                        <div class="fonction-content">
                            <h4>Lorem ipsum</h4>
                            <p>nfurngnurugurguurungrngurngur
                                grnugnurngnunrungrngnrngnrjgnunrgr
                                grgnuruigehuigeuiguiernguneruinguiern
                                grnrygurenugneruinguieruignerunguernu</p>
                        </div>
                        <img src="{{ asset('/svg/personal-finance.svg') }}" alt="online payments" class="fonction_img">
                    </div>
                </main>
            {% endblock %}
        </div>
        <footer>
            <p class="footer-text">Copyright Banqio 2021 - <a href="#" class="link footer-text-link">Mentions légales</a></p>
        </footer>
    </body>
</html>
