{% extends 'base.html.twig' %}

{% block title %}Vos demandes{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('banker') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('banker') }}
{% endblock %}
{% block callToAction %}
{% endblock %}
{% block content %}
    <div class="grid-container">
        <aside class="side-menu">

        </aside>
        <main class="main-menu">
            {% if account is empty and delete is empty%}
                <p>Vous n'avez pas encore de demande en cours</p>
            {% else %}
                {% for request in account %}
                    <div class="request-container">
                        <div class="content-request-container">
                            <span>Demande N° {{ request.id }}</span>
                            <span>{{ request.type }}</span>
                        </div>
                        <div class="request-actions">
                            <span>{{ request.state }}</span>
                            {% if request.state != 'Validé' %}
                            <a href="/banker/request/createAccount/{{ request.id }}" class="btn-info">Visualiser la demande</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% for request in delete %}
                    <div class="request-container">
                        <div class="content-request-container">
                            <span>Demande N° {{ request.id }}</span>
                            <span>{{ request.type }}</span>
                        </div>
                        <div class="request-actions">
                            <span>{{ request.state }}</span>
                            {% if request.state != 'Validé' %}
                                <a href="/banker/request/deleteAccount/{{ request.id }}" class="btn-info">Visualiser la demande</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </main>
    </div>
{% endblock %}