{% extends 'base.html.twig' %}

{% block title %}Demande N°{{ request.id }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('banker') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('banker') }}
{% endblock %}
{% block callToAction %}
{% endblock %}
{% block content %}
    <div class="grid-container">
        <aside class="side-menu">

        </aside>
        <main class="main-menu">
            <p>Nom du client: {{ client.lastname }}</p>
            <p>Prénom du client: {{ client.firstname }}</p>
            <p>Type de demande: {{ request.type }}</p>
            {% if request.type == 'Ajout de beneficiaire' %}
            <p>Nom du beneficiare: {{ request.Name }}</p>
            <p>Nom de la Banque: {{ request.BankName }}</p>
            <p>Numéro de compte: {{ request.AccountNumber }}</p>
            <a href="/banker/benefit/create/{{ request.id }}" class="btn">Accepter la demande</a>
            <a href="/banker/benefit/deny/{{ request.id }}" class="btn-danger">Refuser la demande</a>
            {% elseif request.type != 'Suppression de compte' %}
            <img src="{{ asset('CNI/' ~ request.idCard) }}" alt="CNI" class="request-view-img">
            <a href="/banker/account/create/{{ request.id }}" class="btn">Accepter la demande</a>
            <a href="/banker/requestAdd/deny/{{ request.id }}" class="btn-danger">Refuser la demande</a>
            {% else %}
            <p>Numéro de compte: {{ request.accountNumber }}</p>
            <img src="{{ asset('signature/' ~ request.CloseRequest) }}" alt="signature" class="request-view-img">
            <a href="/banker/account/delete/{{ request.id }}" class="btn">Accepter la demande</a>
            <a href="/banker/requestDelete/deny/{{ request.id }}" class="btn-danger">Refuser la demande</a>
            {% endif %}
        </main>
    </div>
{% endblock %}